@import url(//fonts.googleapis.com/css?family=Oswald:400);

* {
    margin: 0 auto;
    padding: 0;
  }

  body {
    background-color: #e6e9f7;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cGF0aCBkPSJNMjggNjZMMCA1MEwwIDE2TDI4IDBMNTYgMTZMNTYgNTBMMjggNjZMMjggMTAwIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=);
    font-family: "Oswald", "Helvetica Newe", Helvetica, sans-serif;
    overflow:hidden;
  }

  #pfp{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  #me{
    border-radius: 50%;
    margin-top: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    outline-style: double;
    outline-color: rgb(55, 95, 121);
    outline-width: 10px;
  }

  h1{
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #gamenav{
    list-style-type: none;
    padding:0;
    margin:20px auto;
    display: flex;
  }